<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itontheway.manage.dao.RoleDao">
    <resultMap id="BaseResultMap" type="com.itontheway.manage.entity.vo.Role">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="status" jdbcType="CHAR" property="status"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="creater_id" jdbcType="VARCHAR" property="createrId"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="updater_Id" jdbcType="VARCHAR" property="updaterId"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, name, status, remark, create_time, creater_Id, update_time, updater_Id
    </sql>

    <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_crm_role
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteById" parameterType="java.lang.Long">
        delete
        from t_crm_role
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <delete id="deleteRoleBatch" parameterType="java.lang.Long">
        delete from t_crm_role where id in
        <foreach collection="ids" item="ids" index="index" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </delete>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.itontheway.manage.entity.vo.Role">
        insert into t_crm_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                name,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createrId != null">
                creater_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=CHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                now(),
            </if>
            <if test="createrId != null">
                #{createrId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.itontheway.manage.entity.vo.Role">
        update t_crm_role
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=CHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = now(),
            </if>
            <if test="updaterId != null">
                updater_Id = #{updaterId,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="findListByEntity" parameterType="com.itontheway.manage.entity.vo.Role" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_crm_role
        <where>
            <if test="name != null and name != '' ">
                AND NAME LIKE CONCAT('%',#{name},'%')
            </if>
        </where>
    </select>


</mapper>