.idea
.idea/dataSources
.idea/EasyCodeConfig
.idea/inspectionProfiles
.idea/.gitignore
.idea/.name
.idea/compiler.xml
.idea/dataSources.local.xml
.idea/encodings.xml
.idea/misc.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
crm-common/target
crm-controller/target
crm-dao/target
crm-entity/target
crm-service/target
crm-manage.iml
crm-common/crm-common.iml
crm-controller/crm-controller.iml.iml
crm-dao/crm-dao.iml.iml
crm-entity/crm-entity.iml.iml
crm-service/crm-service.iml.iml